[Unit]
Description=Rebuild all distroboxes with replace=true on system start
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=100
StartLimitBurst=3
ConditionACPower=true

[Service]
Type=oneshot
ExecStartPre=/usr/bin/bash -c 'until [[ $(id -u) -ge 1000 ]] && ping -c1 9.9.9.9; do sleep 1; done'
ExecStart=/usr/libexec/assembler
RestartSec=20
Restart=on-failure
RemainAfterExit=true

[Install]
WantedBy=default.target
