[Unit]
Description=Rebuild all distroboxes with replace=true on system start

[Service]
Type=oneshot
ExecStart=/usr/libexec/assembler

[Install]
WantedBy=default.target
