[Unit]
Description=Selinux fix for greetd
ConditionFileIsExecutable=/usr/bin/greetd
After=local-fs.target
Before=greetd.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/fix-greetd

[Install]
WantedBy=multi-user.target
